body
	background-color lightblue
.button
	padding 10px
	cursor pointer
	&__push 
		background-color red
		&:hover
			color white
	&__click
		background-color yellowgreen
		position relative
		&:hover
			color red
/*		&:before
			content ""
			display block
			width 10px
			height 10px
			border 1px solid red
			top 0
			left 0*/
.section
	width 500px
	height 100px
	border 1px dotted red
	margin-top 20px
	background-color white
.changeBg
	background-color: greenyellow