//w = 945px
grey_1 = #f5f5f5
grey_2 = #444444
green_1 = #2E8B57
//fontg = #767575
//green = #5a2c56
//greenTooltip = #5a2c56
//reds = #fc392c
//pink = #e8065a
//dark = #131313
i = !important
//background = #f6f1f7
//darkPath = #5a2c56
//lightPath = #d6bbd7
//darkFooter = #3b0230