// Margin center

.m-auto
	margin auto
	
.m-auto-5
	margin 5px auto

.m-auto-10
	margin 10px auto
	
.m-auto-15
	margin 15px auto
	
.m-auto-20
	margin 20px auto
	
.m-auto-25
	margin 25px auto
	
.m-auto-30
	margin 30px auto
	
.m-top-auto-35
	margin 35px auto
	
.m-auto-40
	margin 40px auto
	
.m-auto-45
	margin 45px auto
	
.m-auto-50
	margin 50px auto
	
.m-auto-55
	margin 55px auto
	
.m-auto-60
	margin 60px auto
	
.m-auto-65
	margin 65px auto
	
.m-auto-70
	margin 70px auto
	
.m-auto-75
	margin 75px auto
	
.m-auto-80
	margin 80px auto
	
.m-auto-85
	margin 85px auto
	
.m-auto-90
	margin 90px auto
	
.m-auto-95
	margin 95px auto
	
.m-auto-100
	margin 100px auto
	
.m-auto-105
	margin 105px auto
	
// Top Margin

.m-t-0
	margin-top 0
	
.m-t-5
	margin-top 5px

.m-t-10
	margin-top 10px
	
.m-t-15
	margin-top 15px
	
.m-t-20
	margin-top 20px
	
.m-t-25
	margin-top 25px
	
.m-t-30
	margin-top 30px
	
.m-t-35
	margin-top 35px
	
.m-t-40
	margin-top 40px
	
.m-t-45
	margin-top 45px
	
.m-t-50
	margin-top 50px
	
.m-t-55
	margin-top 55px
	
.m-t-60
	margin-top 60px
	
.m-t-65
	margin-top 65px
	
.m-t-70
	margin-top 70px
	
.m-t-75
	margin-top 75px
	
.m-t-80
	margin-top 80px
	
.m-t-85
	margin-top 85px
	
.m-t-90
	margin-top 90px
	
.m-t-95
	margin-top 95px
	
.m-t-100
	margin-top 100px
	
.m-t-105
	margin-top 105px
	
// Bottom Margin

.m-b-0
	margin-bottom 0
	
.m-b-5
	margin-bottom 5px

.m-b-10
	margin-bottom 10px
	
.m-b-15
	margin-bottom 15px
	
.m-b-20
	margin-bottom 20px
	
.m-b-25
	margin-bottom 25px
	
.m-b-30
	margin-bottom 30px
	
.m-b-35
	margin-bottom 35px
	
.m-b-40
	margin-bottom 40px
	
.m-b-45
	margin-bottom 45px
	
.m-b-50
	margin-bottom 50px
	
.m-b-55
	margin-bottom 55px
	
.m-b-60
	margin-bottom 60px
	
.m-b-65
	margin-bottom 65px
	
.m-b-70
	margin-bottom 70px
	
.m-b-75
	margin-bottom 75px
	
.m-b-80
	margin-bottom 80px
	
.m-b-85
	margin-bottom 85px
	
.m-b-90
	margin-bottom 90px
	
.m-b-95
	margin-bottom 95px
	
.m-b-100
	margin-bottom 100px
	
.m-b-105
	margin-bottom 105px
	