// Top Padding

.p-t-0
	padding-top 0
	
.p-t-5
	padding-top 5px

.p-t-10
	padding-top 10px
	
.p-t-15
	padding-top 15px
	
.p-t-20
	padding-top 20px
	
.p-t-25
	padding-top 25px
	
.p-t-30
	padding-top 30px
	
.p-t-35
	padding-top 35px
	
.p-t-40
	padding-top 40px
	
.p-t-45
	padding-top 45px
	
.p-t-50
	padding-top 50px
	
.p-t-55
	padding-top 55px
	
.p-t-60
	padding-top 60px
	
.p-t-65
	padding-top 65px
	
.p-t-70
	padding-top 70px
	
.p-t-75
	padding-top 75px
	
// Bottom Padding

.p-b-0
	padding-bottom 0
	
.p-b-5
	padding-bottom 5px

.p-b-10
	padding-bottom 10px
	
.p-b-15
	padding-bottom 15px
	
.p-b-20
	padding-bottom 20px
	
.p-b-25
	padding-bottom 25px
	
.p-b-30
	padding-bottom 30px
	
.p-b-35
	padding-bottom 35px
	
.p-b-40
	padding-bottom 40px
	
.p-b-45
	padding-bottom 45px
	
.p-b-50
	padding-bottom 50px
	
.p-b-55
	padding-bottom 55px
	
.p-b-60
	padding-bottom 60px
	
.p-b-65
	padding-bottom 65px
	
.p-b-70
	padding-bottom 70px

.p-b-75
	padding-bottom 75px


// Padding centered
	
.p-0
	padding 0
	
.p-c-5
	padding 0 5px

.p-c-10
	padding 0 10px
	
.p-c-15
	padding 0 15px
	
.p-c-20
	padding 0 20px
	
.p-c-25
	padding 0 25px
	
.p-c-30
	padding 0 30px
	
.p-c-35
	padding 0 35px
	
.p-c-40
	padding 0 40px
	
.p-c-45
	padding 0 45px
	
.p-c-50
	padding 0 50px
	
.p-c-55
	padding 0 55px
	
.p-c-60
	padding 0 60px
	
.p-c-65
	padding 0 65px
	
.p-c-70
	padding 0 70px
	
.p-c-75
	padding 0 75px